
/*   background strt*/
body {
    background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #fbc2eb, #a18cd1);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
}

 @keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 .particle {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    pointer-events: none;
    animation: float 10s linear infinite;
}

 @keyframes float {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

/* animation end */

  
  .choice-btn:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

 .result-card {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}